@import "./Landing-Page.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
  
:root {
    --primary-font: 'Arvo', serif;
    --secondary-font: 'Lato', sans-serif;
    --lightblue: #597eb2;
    --white: white;
    --black: black;
    --color1: #ecf6f9;
    --color2: #152329;
    --color3: #2b5870;
}

.app {
    background-color: var(--color1);
}