@import "./Landing-Page.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
  
:root {
    --primary-font: 'Arvo', serif;
    --secondary-font: 'Lato', sans-serif;
    --lightblue: #516f99;
    --darkblue: #252D4A;
    --white: white;
    --black: black;
    --gray: gray;
    --color1: #e4faff;
    --color2: #3E3F46;
}

.app {
    background-color: var(--color1);
}