.navigation {
    height: 9vh;
    width: 100%;
    background-color: var(--color2);
    border-bottom: 1px solid var(--color2);
    position: sticky;
    padding: 0 5%;
    top: 0;
    z-index: 999;
}

.navigation ul {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: var(--secondary-font);
}

.navigation li.gfortiching {
    margin-right: 5%;
}

.navigation li {
    margin: auto 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 0.5em;
    color: var(--color1);
}

.navigation li:hover {
    transition: 0.5s;
    color: var(--color2);
    background-color: var(--color1);
}

/* Nav Drawer */

#navDrawer {
    display: none;
}

.drawer-ul img {
    width: 20px;
}

.drawer-ul {
    padding: 5%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drawer-ul li {
    font-size: 20px;
    list-style: none;
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
}

.drawer-ul li:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
}

.hideAnchor {
    display: none;
}

.dashboardIcon {
    margin: 1em 0 0;
    padding: 0;
    color: var(--white);
}

@media all and (max-width: 768px) {
    #navDrawer {
        display: flex;
        position: sticky;
        float: left;
        left: 0;
        top: 0;
        width: 0;
        height: 100vh;
        z-index: 999;        
        cursor: pointer;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: inherit;
    }

    .navigation ul {
        display: none;
    } 
}