.form-container {
    max-width: 500px;
    height: 600px;
    margin: 5% auto 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0);
    padding: 5%;
    background-color: var(--darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
}
  
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
}
  
.success-message {
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    color: white;
    padding: 10px;
}
  
  .form-field {
    margin: 10px 0 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .register-form span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
  }
  
  .register-form input {
    background: #f2f2f2;
  }
  
  .error {
    border-style: solid;
    border: 2px solid #ffa4a4;
  }
  
  .register-form button {
    background: var(--lightblue);
    color: white;
    cursor: pointer;
  }
  
  .register-form button:disabled {
    cursor: default;
  }